<template>
  <md-toolbar md-elevation="0" class="md-transparent">
    <div class="md-toolbar-row">
      <div class="md-toolbar-section-start">
        <h3 class="md-title">{{ $route.name }}</h3>
      </div>
      <div class="md-toolbar-section-end">
        <md-button
          :class="[
            'md-just-icon',
            'md-simple',
            'md-toolbar-toggle',
            { toggled: $sidebar.showSidebar },
          ]"
          @click="toggleSidebar"
        >
          <span
            v-for="i in 3"
            :key="`icon_${i}`"
            class="icon-bar"
          ></span>
        </md-button>
      </div>
      <div class="md-toolbar-section-end">
<!--        <span class="user-login">-->
<!--          Ваш логин: {{ login }}-->
<!--        </span>-->
        <md-button
          class="md-primary"
          @click="$router.push('/login')"
        >
          Выйти
        </md-button>
      </div>
    </div>
  </md-toolbar>
</template>

<script>

export default {
  data() {
    return {};
  },

  methods: {
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
    },
  },
};
</script>

<style lang="scss" scoped>
  .user-login {
    margin-right: 20px;
  }
</style>
