<template>
  <ValidationObserver ref="loginForm" :slim="true">
    <form class="login">
      <ValidationProvider
        v-slot="{ errors, reset }"
        mode="passive"
        :slim="true"
        :rules="'required'"
      >
        <md-field>
          <ValidationError :errors="errors" />
          <label>Login</label>
          <md-input
            placeholder="ivan@example.com"
            @focus="reset"
          />
        </md-field>
      </ValidationProvider>
      <ValidationProvider
        v-slot="{ errors, reset }"
        mode="passive"
        :slim="true"
        :rules="'required'"
      >
        <md-field
          :md-toggle-password="true"
        >
          <ValidationError :errors="errors" />
          <label>Password</label>
          <md-input
            type="password"
            placeholder="********"
            @focus="reset"
          />
        </md-field>
      </ValidationProvider>
      <VueRecaptcha />
      <div class="btn-wrap">
        <md-button
          type="submit"
          class="md-primary md-raised login-btn"
        >
          Log In
        </md-button>
        <div class="spin">
          <md-progress-spinner
            class="md-green"
            :md-diameter="15"
            :md-stroke="3"
            md-mode="indeterminate"
          />
        </div>
      </div>
    </form>
  </ValidationObserver>
</template>

<script>
import { VueRecaptcha } from 'vue-recaptcha';

export default {
  components: {
    VueRecaptcha
  }
}
</script>

<style lang="scss" scoped>
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 392px;
  width: 100%;

  &-btn {
    width: 100%;
    margin: 0;
  }

  .btn-wrap {
    position: relative;
    width: 100%;

    .spin {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
    }
  }
}
</style>
