<template>
  <div class="md-layout">
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
    >
      <md-card>
        <md-card-header
          data-background-color="blue"
          class="card-header"
        >
          <div class="card-header-info">
            <h4 class="title">Добавить пользователя</h4>
          </div>
        </md-card-header>
        <ValidationObserver
          ref="addUserForm"
          :slim="true"
        >
          <md-card-content>
            <div class="md-layout md-gutter">
              <ValidationProvider
                v-slot="{ errors, reset }"
                class="md-layout-item md-size-100"
                mode="passive"
                tag="div"
                rules="required"
              >
                <md-field :class="{ error: errors.length }">
                  <ValidationError :errors="errors" />
                  <label>Логин</label>
                  <md-input
                    v-model="login"
                    @focus="reset"
                  />
                </md-field>
              </ValidationProvider>
              <ValidationProvider
                v-slot="{ errors, reset }"
                class="md-layout-item md-size-100"
                mode="passive"
                tag="div"
                rules="required"
              >
                <md-field :class="{ error: errors.length }">
                  <ValidationError :errors="errors" />
                  <label>Пароль</label>
                  <md-input
                    v-model="password"
                    @focus="reset"
                  />
                </md-field>
              </ValidationProvider>
              <ValidationProvider
                v-slot="{ errors, reset }"
                class="md-layout-item md-size-100"
                mode="passive"
                tag="div"
                rules="required"
              >
                <md-field :class="{ error: errors.length }">
                  <ValidationError :errors="errors" />
                  <label>Уровень доступа</label>
                  <md-select
                    v-model="role"
                    @focus="reset"
                  >
                    <md-option value="admin">Admin</md-option>
                    <md-option value="admin">Admin</md-option>
                    <md-option value="admin">Admin</md-option>
                  </md-select>
                </md-field>
              </ValidationProvider>
            </div>
            <div class="buttons-wrap">
              <md-button
                class="md-raised md-success"
                @click="addNewUser"
              >
                Сохранить
              </md-button>
            </div>
          </md-card-content>
        </ValidationObserver>
      </md-card>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  data() {
    return {
      login: "",
      password: "",
      role: "admin",
    }
  },

  methods: {
    ...mapActions(["addUser"]),

    async addNewUser() {
      const isValid = await this.$refs.addUserForm.validate();
      if (!isValid) {
        return;
      }

      const user = {
        login: this.login,
        password: this.password,
        role: this.role,
      }
      try {
        this.addUser(user);
        this.$notify({
          message: "Пользователь добавлен",
          icon: "task_alt",
          horizontalAlign: "right",
          verticalAlign: "top",
          type: "primary",
        });
        this.$router.push("/users");
      } catch (e) {
        console.error(e);
      }
    }
  }
}
</script>

<style>
.buttons-wrap {
  display: flex;
  align-items: center;
}

.spin {
  margin-left: 20px;
}

.cancel-btn {
  margin-left: 10px !important;
}
</style>
