<template>
  <footer class="footer w-100">
    <span class="title-1">Footer</span>
  </footer>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.footer {
  background: black;
  padding: 20px;
  color: $white-color;
  text-align: center;
}
</style>
