<template>
  <div id="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
import EmptyLayout from "@/pages/Layout/Empty.vue";
import MainLayout from "@/pages/Layout/Main.vue";

export default {
  components: {
    EmptyLayout,
    MainLayout,
  },

  computed: {
    layout() {
      return (this.$route.meta.layout || "empty") + "-layout";
    },
  },

  created() {
    // eslint-disable-next-line no-undef
    axios.interceptors.response.use(
      undefined,
      (error) =>
        new Promise(() => {
          this.setError(error.response?.data?.message || "Что-то пошло не так");
          this.$notify({
            message: this.error,
            icon: "block",
            horizontalAlign: "right",
            verticalAlign: "top",
            type: "danger",
          });

          if (error?.response?.status === 401) {
            localStorage.clear();
            sessionStorage.clear();
            // eslint-disable-next-line no-undef
            axios.post(`${process.env.VUE_APP_API}/logout`);
            if (this.$route.path !== "/login") {
              this.$router.push("/login");
            }
          }
          throw error;
        })
    );
  },
};
</script>
