@import "common/fonts";
@import "common/common";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  overflow-x: hidden;
  cursor: default;
  background: $white-color;
}

#__nuxt {
  display: flex;
  flex: 1;
}

#__layout,
.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
}

.header,
.footer {
  flex: 0
}

.content {
  flex: 1
}

//Общий reset
img {
  max-width: 100%
}

.cursor-pointer {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

w-100 {
  width: 100%;
}
