// =========================================================
// * Vue Material Dashboard - v1.4.0
// =========================================================
//
// * Product Page: https://www.creative-tim.com/product/vue-material-dashboard
// * Copyright 2019 Creative Tim (https://www.creative-tim.com)
// * Licensed under MIT (https://github.com/creativetimofficial/vue-material-dashboard/blob/master/LICENSE.md)
//
// * Coded by Creative Tim
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

//variables and mixins
@import "md/variables";
@import "md/mixins";
@import "md/shadows";

//plugin css
@import "md/plugins/_perfect-scrollbar";

// Core CSS
@import "md/typography";
@import "md/sidebar-and-main-panel";
@import "md/buttons";
@import "md/misc";
@import "md/inputs";
@import "md/fixed-plugin";
@import "md/forms";
@import "md/alerts";
@import "md/tables";
@import "md/layout";
@import "md/checkboxes";
@import "md/togglebutton";
@import "md/ripples";
@import "md/pagination";
@import "md/pills";
@import "md/dialogs";
@import "md/navbars";
@import "md/popups";
@import "md/footers";

// Fancy Stuff
// @import "md/dropdown";
@import "md/cards";
@import "md/tabs";
@import "md/chartist";
@import "md/responsive";


.md-field.error::before,
.md-field.error::after {
  background-color: red !important;
}

.md-field.md-has-textarea.error::before,
.md-field.md-has-textarea.error::after {
  border-color: red !important;
}

.md-table {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.cursor-pointer {
  cursor: pointer;
}

.buttons-wrap {
  display: flex;

  & > * {
    &:first-child {
      margin-right: 8px;
    }

    &:last-child {
      margin-left: 8px;
    }
  }
}

.ml {
  margin-left: 10px;
}

.mr {
  margin-right: 10px;
}

.mb {
  margin-bottom: 8px;
}

.ml3 {
  margin-left: 30px;
}

.mt {
  margin-top: 10px;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.p2 {
  padding: 20px;
}

.align-items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.icon {
  width: 18px;
  height: 18px;
  background: black;
  display: inline-block;
  -webkit-mask-size: cover;
  mask-size: cover;
}
