<template>
  <transition name="modal-fade">
    <div ref="modal" class="modal-backdrop" @click="clickOutside">
      <div class="modal" role="dialog">
        <div
          class="btn-close"
          @click="close"
        >
          <md-icon>close</md-icon>
        </div>
        <h4>{{ text }}</h4>
        <md-field>
          <label>Поиск</label>
          <md-input />
        </md-field>
        <md-table>
          <md-table-row>
            <md-table-cell>
              <md-checkbox>ID 123455677890</md-checkbox>
            </md-table-cell>
            <md-table-cell>
              Kaloranit
            </md-table-cell>
            <md-table-cell>
              Example@mail.com
            </md-table-cell>
          </md-table-row>
          <md-table-row>
            <md-table-cell>
              <md-checkbox>ID 123455677890</md-checkbox>
            </md-table-cell>
            <md-table-cell>
              Kaloranit
            </md-table-cell>
            <md-table-cell>
              Example@mail.com
            </md-table-cell>
          </md-table-row>
        </md-table>
        <div class="added-users">
          <h4>Добавленные пользователи</h4>
          <UiTags :values="['123', '123']" />
        </div>
        <div class="buttons-wrap">
          <md-button
            class="md-raised md-success"
            :disabled="showSpinner"
            @click="$emit('confirm')">
            Подтвердить
          </md-button>
          <div class="spin">
            <md-progress-spinner
              v-if="showSpinner"
              class="md-green"
              :md-diameter="15"
              :md-stroke="3"
              md-mode="indeterminate"
            />
          </div>
          <md-button class="md-raised md-danger" @click="close">
            Отменить
          </md-button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import UiTags from "@/components/ui/UiTags";

export default {
  components: {
    UiTags,
  },

  props: {
    text: {
      type: String,
      default: "",
    },

    showSpinner: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    clickOutside(e) {
      if (e.target.classList.contains("modal-backdrop")) {
        this.$emit("close");
      }
    },

    close() {
      this.$emit("close");
    },
  },
};
</script>

<style lang="scss" scoped>
.modal-backdrop {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10001;

  .modal {
    position: relative;
    height: auto;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
    background: #fff;
    min-width: 600px;
  }

  .btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #c4c4c4;
  }

  .added-users {
    background: #F4F5F5;
    padding: 8px;
  }
}

.modal-fade-enter,
.modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}
</style>
